<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome Tokimon Trainer!</h1>

  <h2>
    This is the home page for the Tokimon collectors app!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "BATTLE!", tokimons_battle_path, class: "btn btn-lg btn-primary" %>

</div>

<br />
